@import "compass/css3/transition"

$player_height: 50px

=font_icon($icon)
  &:before
    content: '\e8'+$icon

=fontello
  font-family: 'fontello'

=bar($width, $height)
  width: $width
  height: $height
  float: left
  height: $height
  margin-top: $player_height / 2 + $height / 2
  background: #555555
  cursor: pointer
  position: relative

  .point
    background: #66B7EF
    height: $height
    width: 0

.audio-player-wrapper
  position: fixed
  bottom: 0
  right: 0
  background: white
  border: 1px solid #BAC3CB

  .playlist
    max-height: 500px
    overflow-y: auto

    .track
      margin: 5px
      padding: 5px
      border-bottom: 1px dotted black
      cursor: pointer

      .name
        float: left
        pointer-events: none

      .remove
        float: right
        cursor: pointer

      &.current .name
        color: #66B7EF

  .audio-player
    width: 350px
    height: $player_height

    .icon
      +fontello
      font-family: 'fontello'
      font-size: 25px
      cursor: pointer
      display: inline
      float: left
      line-height: $player_height
      margin: 10px
      +transition(color .3s linear)

      &:hover
        color: #66B7EF

      &.play
        font-size: 35px
        +font_icon('27')
      &.pause
        font-size: 30px
        +font_icon('29')
      &.stop
        +font_icon('28')
      &.volume
        float: right
        +font_icon('2c')
        &.muted
          +font_icon('2e')
      &.prev-track
        +font_icon('30')
      &.next-track
        +font_icon('2f')

    .progress-bar
      +bar(330px, 15px)
      margin: 10px

    .volume-bar
      +bar(75px, 10px)
      float: right

    .controls
      margin: 10px