@import "compass/css3/box-sizing"
@import "compass/css3/transition"
@import "variables"

$element_margin: 10px
$element_padding: 10px

=awesome-hover
  +transition(color .3s linear)

.file-manager
  width: 100%
  position: relative
  display: inline-block

  .folder-drop-zone
    +transition(box-shadow .3s linear)
    &.drag-target
      box-shadow: 0 0 5px black
    &.drag-over
      box-shadow: 0 0 5px #66b7ef

  .settings
    text-align: center
    position: absolute
    background: #fff
    width: 100%
    height: 100%
    z-index: 2
    background: rgba(148, 148, 148, .8)
    // TODO: show animation
    .options
      width: 100%
      text-align: left
      .search
        display: inline-block
    .title
      width: 100%
      margin: 10px
    .menu
      width: 100%
      position: absolute
      bottom: 0
      .button
        display: inline-block
        margin: 10px

  .moxie-shim
    top: initial !important
    bottom: 0

  .path-part, .folder, .upload
    cursor: pointer

  .item
    float: left
    cursor: pointer
    width: 95px
    position: relative
    margin: $element_margin
    padding: $element_padding
    text-align: center

    &:nth-child(5n)
      clear: both

    &:hover .menu
      display: block
      opacity: 1

    .marks
      position: absolute
      top: 0
      left: 0
      width: 20px

      .mark
        display: inline-block
        color: #555
        &:before
          font-family: 'fontello'
          font-size: 20px
        &.locked
          +font_icon('16')
        &.processing
          +font_icon('16')

    .menu
      +transition(opacity .6s linear)
      opacity: 0
      position: absolute
      top: 0
      right: 0
      width: 20px
      a
        display: inline-block
        text-decoration: none
        color: #555
        &:hover:before
          color: #66b7ef

        &.action
          &:before
            +transition(color .3s linear)
            font-family: 'fontello'
            font-size: 20px

        &.lock
          +font_icon('16')
        &.unlock
          +font_icon('16')
        &.download
          +font_icon('05')
        &.item-settings
          +font_icon('17')
        &.play
          +font_icon('0c')
        &.add-to-playlist
          +font_icon('18')
        &.delete
          +font_icon('16')

    &:before
      +transition(color .3s linear)
      font-family: 'fontello'
      font-size: 55px
      color: #555
    &.selected, &:hover
      &:before
        color: #66b7ef

  .folder
    +transition(text-shadow .3s linear)
    &.drag-target:before
      text-shadow: 0 0 5px black
    &.drag-over:before
      color: #66b7ef
      text-shadow: 0 0 5px #66b7ef

  .action-buttons
    background: #00305a
    color: #fff
    padding-left: 5px
    font-weight: bold
    .files
      font-size: 18px
      margin-right: 50px
      float: left
      line-height: 35px
    .action-button
      text-decoration: none
      color: #fff
      display: inline-block
      margin: 10px 2px
      +transition(color .3s linear)
      &:before
        font-family: 'fontello'
        font-size: 18px
      &:hover
        color: #66b7ef
    .copy
      +font_icon('16')
    .cut
      +font_icon('16')
    .paste
      +font_icon('16')
    .lock
      +font_icon('16')
    .unlock
      +font_icon('16')
    .downloadItem
      +font_icon('05')
    .itemSettings
      +font_icon('17')
    .play
      +font_icon('0c')
    .toPlaylist
      +font_icon('18')
    .delete
      +font_icon('16')
    .addFolder
      +font_icon('04')
    .deleteFolder
      +font_icon('03')
    .renameFolder
      +font_icon('06')
    .moveFolder
      +font_icon('07')

  .path
    +box-sizing(border-box)
    width: 100%
    height: 30px
    background: #012240
    color: #fff
    line-height: 30px
    padding: 0 10px

  .path-part
    display: inline-block
    margin-left: 5px
    &:not(:last-child):after
      content: ' /'

  .folder
    +font_icon('12')
    &.locked
      +font_icon('0f')
    &.selected
      color: red

  .upload
    min-height: 80px
    &:not(.has-icon)
      +font_icon('16')
    &.selected
      color: red

  &.small
    .upload
      min-height: inherit

    .item
      +box-sizing(border-box)
      width: 100%
      text-align: left
      margin: 0
      clear: both
      &:before
        font-size: 30px

      .icon
        display: inline

      .marks .mark:before
        font-size: 15px

      .menu
        float: right
        position: static
        width: auto

        .action
          margin: 0 5px
          position: relative
          top: 10px
          &:before
            font-size: 15px

      .name
        display: inline
        position: relative
        left: 10px
        bottom: 5px

    .action-buttons .action-button:before
      font-size: 15px
