$header_height: 30px
.header-text
  *
    color: white
    font-weight: bold
    text-decoration: none
    &:hover
      text-decoration: underline

header
  @extend .header-text
  background: #333
  height: $header_height

  .menu
    display: block
    margin: auto
    width: 600px
    height: $header_height
    line-height: $header_height
    ul > li
      display: inline-block
      margin: 0 5px

section#main
  width: 1020px
  margin: auto

  .block-style
    padding: 10px
    background: #fff
    border: 1px solid #bac3cb
    border-radius: 3px

  .tabs
    margin-bottom: 10px
    li.pane
      @extend .block-style
      display: inline-block
      border-bottom-left-radius: 0px
      border-bottom-right-radius: 0px
      border-bottom: 1px solid #fff
      z-index: 2
      &:first-child
        margin-left: 10px
      &:not(:first-child)
        border-left: none
      &:not(.active)
        border-bottom: inherit
        a
          color: #66b7ef
      a
        text-decoration: none
        color: #686464
        font-size: 15px
        font-weight: bold
    .block
      margin: 0 10px
      border-top-left-radius: 0px
    .tab-content
      margin-top: -1px

  input[type='text'], textarea
    border: 1px solid #bac3cb
    outline: none
    padding: 5px 0
    text-indent: 10px
    width: 100%
    border-radius: 3px
    resize: none
    margin-bottom: 5px

  .search
    position: relative
    .results
      @extend .block-style
      z-index: 3
      padding: 0
      width: 100%
      position: absolute
      li
        margin: 3px
        .search-item
          text-align: left
          line-height: 30px
          cursor: pointer
          img
            float: left
            margin-right: 10px

  .users
    max-height: 300px
    .user
      float: left
      margin-top: 5px
      border: 1px solid #e7e7e7
      width: 100%
      padding: 3px 0
      border-radius: 3px
      .avatar
        float: left
        display: inline-block
        width: 30px
        height: 30px
        margin-left: 3px
        img
          border-radius: 3px
      a
        float: left
        margin-left: 10px
        line-height: 30px
        text-decoration: none
        color: #686464
        font-weight: bold

    .users-filter
      a
        &.all, &.online
          text-decoration: none
          font-weight: bold
          padding: 3px

        &.all
          float: left

        &.online
          float: right

        &.active
          color: #686464
          background: #f3f3e7

        &.inactive
          color: #66b7ef
          border-bottom: 1px dashed

  .block
    @extend .block-style
    height: auto
    margin: 10px
    // clearfix
    &:after
      content: ''
      display: block
      clear: both
      height: 0

    &.balance
      background: #bac3cb
      border: none
      color: #fff
      font-weight: bold

    &.profile
      height: 275px
      .avatar
        width: 150px
        height: 150px
        float: left
        img
          border-radius: 5px
      .details
        margin: 5px 25px
        float: left
        .name
          font-size: 18px
          font-weight: bold
        .rating
          color: #2f9b00
          font-size: 15px
          font-weight: bold
          margin: 5px 0
        .online-status
          color: #989a9b
          font-size: 11px
        .city, .birthday, .company
          color: #686464

  section#content, aside, nav
    height: auto

  section#content
    float: left
    width: 460px

  aside
    float: left
    width: 260px

  nav
    float: left
    width: 300px

*
  margin: 0
  padding: 0
  li
    list-style: none

body
  font-family: Verdana,sans-serif
  font-size: 13px
  color: #312f2f
  background: #e2e8ec
