.messages
  position: relative
  .menu
    position: absolute
    left: 0
    height: 100%
    width: 120px
  .messages-list, .message-form, .message-show
    margin-left: 120px
  .messages-list
    .unread
      font-weight: bold